[Oo]bj/
[Bb]in/
*.user
target/
*.suo
*.cache
*.bak
packages/
msbuild.log
_Resharper*/
_AzurePackage/
*.ncrunchsolution
App_Data/
*resharper*
*.sassc
*.scssc
.sass-cache
/D3Grid.Mvc4Demo/Content/style
/D3Grid.Mvc4Demo/Content/images/d3g-*.png
/D3Grid.Core/Content/style
/D3Grid.Core/Content/images/d3g-*.png
