[Oo]bj/
[Bb]in/
*.user
target/
*.suo
*.cache
*.bak
packages/
msbuild.log
_Resharper*/
_AzurePackage/
*.ncrunchsolution
App_Data/
*resharper*
*.sassc
*.scssc
.sass-cache
/Dalton.Web/Content/Style/site.css
