$mysprite-layout: smart;

/*---- Only Need to Use this When a new Sprite is Added ----*/
/* Generate_sprites.scss should only be used when you add a new sprite */

/* Using this to save Compass compile times*/
@import "precompiled_sprites";
/*---------------------------------------------------------------- 
 *								Icons
 *--------------------------------------------------------------*/
.ir {
	text-indent: -9999px;
}

.icon, .gc-icon{
	display: block;
}

.text-icon, .gc-text-icon{
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.chzn-container-multi .chzn-choices .search-choice .search-choice-close{
	@extend .gc-icon-close-white;

	&:hover{
		@extend .gc-icon-close-dark;
	}
}
.chzn-container-single .chzn-single div b{
	@extend .gc-icon-arrow-dropdown;
	margin-top: 10px;
}
.chzn-search input{
	@extend .gc-icon-search;
}


/* ------ Tab Icons ------ */
.nav-tabs li{
	&.active{
		span.medium-icon-completed{
			@extend .gc-icon-tab-active-completed;
		}
		span.medium-icon-archive{
			@extend .gc-icon-tab-active-archive;
		}
	}
	&:hover {

		.medium-icon-completed{
			@extend .gc-icon-tab-hover-completed;
		}
		.medium-icon-archive{
			@extend .gc-icon-tab-hover-archive;
		}
	}
}

/* ------ Collpase Arrows ------ */

.collapse-group{
	&.collapsed{
		.text-icon{
			@extend .gc-icon-arrow-left;
		}
	}
	.collapse-heading{

		.text-icon{
			@extend .gc-icon-arrow-down;
		}
	}
}

.icon-home{
	@extend .gc-icon-home;

	&:hover, &:active{
		@extend .gc-icon-hover-home;
	}
}

/* --------- Data Carousel ------ */
.data-carousel{
	.carousel-pause{
		@extend .gc-icon-pause;
	}
	.carousel-play{
		@extend .gc-icon-play;
	}
}

/* ------ Table Icons ------ */
.icon-unfavorite{
	@extend .gc-icon-star-gray;

	&.no-hover{
		&:hover{
			@extend .gc-icon-star-gray;
		}
	}
}
.icon-favorite{
	@extend .gc-icon-star-green;

	&.no-hover{
		&:hover{
			@extend .gc-icon-star-green;
		}
	}
}
.icon-favorite, .icon-unfavorite{
	&:hover{
		@extend .gc-icon-hover-star;
	}

}

.icon-hide-inactive{
	@extend .gc-icon-hide;
}

.icon-hide{
	@extend .gc-icon-hide;
	&:hover{
		@extend .gc-icon-hover-hide;
	}
	&:active{
		@extend .gc-icon-active-hide;
	}
}
.icon-unhide{
	@extend .gc-icon-active-hide;
	&:hover{
		@extend .gc-icon-hover-hide;
	}
}


.icon-archive{
	@extend .gc-icon-archive;
}
.icon-unarchive{
	@extend .gc-icon-archive-dark-gray;
}
.icon-archive, .icon-unarchive{
	&:hover{
		@extend .gc-icon-hover-archive;
	}
}

.icon-no-comment{
	@extend .gc-icon-comment-gray;
}
.icon-inactive-comment{
	@extend .gc-icon-comment-outline;
}
.icon-comment{
	@extend .gc-icon-comment-green
}
.icon-your-comment{
	@extend .gc-icon-comment-blue;
}

.icon-no-comment, .icon-comment, .icon-your-comment, .icon-their-comment{
	&:hover{
		@extend .gc-icon-hover-comment;
	}
}

.icon-private{
	@extend .gc-icon-private;
}
.icon-limited{
	@extend .gc-icon-limited;
}
.icon-public{
	@extend .gc-icon-public;
}
.icon-valet {
	@extend .gc-icon-valet;
}

.icon-copy{
	@extend .gc-icon-pencil;
}
.icon-no-copy{
	@extend .gc-icon-no-pencil;
}
.icon-photo{
	@extend .gc-icon-camera;
}
.icon-no-photo{
	@extend .gc-icon-no-camera;
}

.icon-tag{
	@extend .gc-icon-tag;
}

/* --------- Stage Icons ----- */
.icon-running{
	@extend .gc-icon-running;
}
.icon-scheduled{
	@extend .gc-icon-scheduled;
}
.icon-completed{
	@extend .gc-icon-completed;
}
.icon-build{
	@extend .gc-icon-build;
}
.icon-plan, .icon-planning{
	@extend .gc-icon-plan;
}
.icon-review{
	@extend .gc-icon-eye;
}

/* ------- Table Icons ----- */
#grid-table-pager .ui-state-hover{
	border: none;
	background: transparent;
}

.ui-state-hover{
	.ui-icon.ui-icon-seek-next{
		@extend .gc-icon-next-green;
	}

	.ui-icon.ui-icon-seek-end{
		@extend .gc-icon-last-green;
	}

	.ui-icon.ui-icon-seek-prev{
		@extend .gc-icon-back-green;
	}
	.ui-icon.ui-icon-seek-first{
		@extend .gc-icon-first-green;
	}

}
.ui-icon.ui-icon-seek-prev{
	@extend .gc-icon-back;
}
.ui-icon.ui-icon-seek-first{
	@extend .gc-icon-first;
}
.ui-icon.ui-icon-seek-next{
	@extend .gc-icon-next;
}
.ui-icon.ui-icon-seek-end{
	@extend .gc-icon-last;
}

/* ------ Calendar Icons ------ */
.ui-datepicker .ui-datepicker-next span{
	@extend .gc-icon-right-arrow;

	&:hover{
		@extend .gc-icon-hover-right-arrow;
	}

	&:active{
		@extend .gc-icon-active-right-arrow;
	}
}
.ui-datepicker .ui-datepicker-prev span{
	@extend .gc-icon-left-arrow;
	&:hover{
		@extend .gc-icon-hover-left-arrow;
	}
	&:active{
		@extend .gc-icon-active-left-arrow;
	}
}

/*---------------------------------------- 
 *	Badges
 *--------------------------------------*/
.badges-syndicated{
	@extend .gc-blue-ribbon;
}
.badges-expiring{
	@extend .gc-clock;
}
.badges-new{
	@extend .gc-badge-new;
}
.badges-sold-out{
	@extend .gc-badge-sold-out;
}
.badges-draft{
	@extend .gc-badge-draft;
}


/* ------ Error Message ------ */
.message {
	&.message-error{
		.text-icon{
			@extend .gc-icon-error;
		}
	}
}

#top-nav .nav li.help>a{
	@extend .gc-icon-questionmark;
	text-indent: -9999px;
	padding: 0px;
	margin-top: 10px;

	&:hover{
		@extend .gc-icon-hover-questionmark;
	}
}

.modal-bottom{
	@extend .gc-modal-bottom;
}

.main-container-bottom{
	@extend .gc-body-bottom;
}

#top-nav .nav li.help.active>a{
	@extend .gc-icon-active-questionmark;
}

/* ----------- Notification Collapse Layout ------------- */
#notifications .content .notification-content .hidden .notification-section-header .icon-arrow {
	@extend .gc-icon-arrow-right;
}


.icon-warning{
	@extend .gc-icon-error-fill;
}
.icon-field-error{
	@extend .gc-icon-error-fill;
	margin-top: -10px;
	margin-left: 10px;
}


/* Button Icons */
.btn.secondary-btn.dropdown-btn, 
input.secondary-btn.dropdown-btn[type="button"], 
input.secondary-btn.dropdown-btn[type="submit"]{
	.caret{
		@extend .gc-icon-arrow-dropdown;
		border: none;
		opacity: 1;
	}
}

.icon-information {
	@extend .gc-icon-information;
}
.icon-locked {
	@extend .gc-lock-icon;
}
.icon-information,
.icon-locked {
	/* Overriding Tooltip Defaults*/
	&.tooltip { 
		display: inline-block;
		opacity: 1;
		position: static;
		padding: 0;
		margin: -10px 10px 10px 10px;
		cursor: pointer;
	}
}


.ZebraDialog .ZebraDialog_Error{
	background: image_url('gc/icon-medium-error.png') no-repeat 10px 10px;
}


/*---------------------------------------- 
 *	State Icons 
 *--------------------------------------*/

// --------- Gray State Icons --------//
.icon-state-scheduled{
	@extend .gc-icon-scheduled;
}
.icon-state-review{
	@extend .gc-icon-eye;
}
.icon-state-completed{
	@extend .gc-icon-completed;
}
.icon-state-running{
	@extend .gc-icon-running;
}
.icon-state-build{
	@extend .gc-icon-build;
}
.icon-state-plan, .icon-state-planning{
	@extend .gc-icon-plan;
}
.icon-state-archived{
	@extend .gc-icon-archive;
}

// --------- White State Icons --------//
.icon-state-scheduled-white{
	@extend .gc-icon-scheduled-white;
}
.icon-state-review-white{
	@extend .gc-icon-eye-white;
}
.icon-state-running-white{
	@extend .gc-icon-running-white;
}
.icon-state-build-white{
	@extend .gc-icon-build-white;
}
.icon-state-plan-white{
	@extend .gc-icon-plan-white;
}



.icon-calendar{
	@extend .gc-icon-plan;
}
.icon-delete-light{
	text-indent: -9999px;
	@extend .gc-icon-close-white;

	&:hover{
		opacity: .6;
	}
}
.icon-delete{
	text-indent: -9999px;
	cursor: pointer;
	@extend .gc-icon-close;

	&:hover{
		opacity: .6;
	}
}

.icon-add{
	cursor: pointer;
	text-indent: -9999px;
	@extend .gc-icon-add;
	&:hover{
		@extend .gc-icon-hover-add;
	}
	&:active{
		@extend .gc-icon-click-add;
	}
}
.icon-remove{
	cursor: pointer;
	text-indent: -9999px;
	@extend .gc-icon-delete;

	&:hover{
		@extend .gc-icon-hover-delete;
	}
	&:active{
		@extend .gc-icon-click-delete;
	}
	&:disabled, &.disabled{
		cursor: not-allowed;
		@extend .gc-icon-disabled-delete;

		&:hover{
			@extend .gc-icon-disabled-delete;
		}
		&:active{
			@extend .gc-icon-disabled-delete;
		}
	}

}



/* 
* Remove Button
* --------------------------------
*/
.remove-btn, .delete-btn{
	text-indent: -9999px;
	display: block;
	@extend .gc-delete;

	&:hover{
		@extend .gc-close;
	}
}

/* 
* Modal Buttons
* --------------------------------
*/
.modal-close, .close-btn{
	@extend .gc-close;

	&:hover{
		@extend .gc-hover-close;
	}
	&:active{
		@extend .gc-active-close;
	}
}
.modal-action-next, .next-btn{
	@extend .gc-forward;

	&:hover{
		@extend .gc-hover-forward;
	}
	&:active{
		@extend .gc-active-forward;
	}
}
.modal-action-back, .back-btn{
	@extend .gc-back;

	&:hover{
		@extend .gc-hover-back;
	}
	&:active{
		@extend .gc-active-back;
	}
}


/* Modal Close */
.ui-dialog .ui-icon.ui-icon-closethick{
	@extend .modal-close;
}



/*---------------------------------------------------------------- 
 *								Logo
 *--------------------------------------------------------------*/
.styleguide .styleguide-navbar .styleguide-navbar-inner .nav-logo{
	@extend .gc-logo-small;
}
#top-nav .top-navbar-logo a{
	@extend .gc-logo-full;
}
.logo-g{
	@extend .gc-logo-g;
}
.logo-c{
	@extend .gc-logo-c;
}
.logo-gc-small{
	@extend .gc-logo-small;
}
.logo-type{
	@extend .gc-logo-type;
}

/*---------------------------------------------------------------- 
 *					Sortable Placeholders
 *--------------------------------------------------------------*/

#programmanagment-segments-preview .offers-column-container .column.large-column .selected-offers li.custom-sort-placeholder{
	@extend .gc-placeholder-50;
}

/*---------------------------------------------------------------- 
 *								Navigation
 *--------------------------------------------------------------*/
#main-nav .nav-pills > li > a.hometab{
	@extend .gc-home;
	background-size: auto;
	&:hover{
		@extend .gc-hover-home;
		background-size: auto;
	}
}
#main-nav .nav-pills > li.home-link.active a.hometab{
	@extend .gc-active-home;	
	background-size: auto;
}


.modal-add-placeholder .modal-placeholder-bottom{
	@extend .gc-bg-page-curl;
}

#Order .ui-sortable-placeholder{
	@extend .gc-order-item-hover;
}



/*---------------------------------------------------------------- 
 *								Tabs
 *--------------------------------------------------------------*/


.body-tabbable{
 	.nav-tabs, .nav-tabs-no-link{
		>li {
			a{
				@extend .gc-bg-tab;
			}
			&.active{
				a{
					@extend .gc-bg-active-tab;
				}
				&:hover a{
					@extend .gc-bg-active-tab;
				}
				&:active a{
					@extend .gc-bg-active-tab;
				}
			}
			&:hover a{
				@extend .gc-bg-hover-tab;
			}

			&:active a{
				@extend .gc-bg-click-tab;
			}
		}
	}
}
.body-tabbable .nav-tabs > li.half-tab{
	&:hover a{
		.icon.gc-icon-tab-completed{
			@extend .gc-icon-tab-hover-completed;
		}
		.icon.gc-icon-tab-archive{
			@extend .gc-icon-tab-hover-archive;
		}
	}
	&.active a, &:hover.active a {
		.icon.gc-icon-tab-completed{
			@extend .gc-icon-tab-active-completed;
		}
		.icon.gc-icon-tab-archive{
			@extend .gc-icon-tab-active-archive;
		}
	}
}

/*---------------------------------------------------------------- 
 *								Backgrounds
 *--------------------------------------------------------------*/
#main-nav{
	@extend .gc-bg-nav;
	width: auto;
	background-repeat: repeat-x;
}

#top-nav{
	background-color: #3A4146;
	@extend .gc-bg-top-nav;
	background-repeat: repeat-x;
}

.current-day .dayrow-label .gc-cell-notch{
	@extend .gc-cell-notch-today;
}


/*---------------------------------------------------------------- 
 *								jqgrid sorting
 *--------------------------------------------------------------*/
.ui-jqgrid-sortable {
	cursor: pointer;
}

.ui-icon-asc{
	@extend .gc-icon-sort-asc;
}


.ui-icon-desc{
	@extend .gc-icon-sort-desc !optional;
}

.ui-icon-desc, .ui-icon-asc{
	&.ui-state-disabled{
		display: none;
	}
}

/*---------------------------------------------------------------- 
 *								gcgrid sorting
 *--------------------------------------------------------------*/
.gcgrid-previous{
	@extend .gc-icon-back;
	text-indent: -9999px;

	&:hover{
		@extend .gc-icon-back-green;
	}
}
.gcgrid-first{
	@extend .gc-icon-first;
	text-indent: -9999px;

	&:hover{
		@extend .gc-icon-first-green;
	}
}
.gcgrid-next{
	@extend .gc-icon-next;
	text-indent: -9999px;

	&:hover{
		@extend .gc-icon-next-green;
	}
}

.gcgrid-last{
	@extend .gc-icon-last;
	text-indent: -9999px;

	&:hover{
		@extend .gc-icon-last-green;
	}
}

.gcgrid-sortable{
	&.gcgrid-sort-asc .gcgrid-sort-icon{
		@extend .gc-icon-sort-asc;
	}
	&.gcgrid-sort-desc .gcgrid-sort-icon{
		@extend .gc-icon-sort-desc;
	}
}

.gc-pager-fullscreen{
	@extend .gc-icon-fullscreen;
	text-indent: -9999px;

	&:hover{
		@extend .gc-icon-fullscreen-dark;
	}
}