$gridColumnWidth: 65px; 


@import "base", 
"layout/bootstrap-custom",
"layout/sprite",
"layout/table",
"layout/buttons",
"layout/navigation",
"layout/datepicker",
"layout/jqgrid",
"layout/modal",
"layout/environment",
"layout/gcgrid";


body{
	font-family: $default-font-family;
}

#browser-warning-message{
	background: $color-error-bg;
	color: $color-error-font;
	padding: 5px 0;
	width: 100%;
	text-align: center;
	display: none;
	.browser-name{
		text-transform: capitalize;
	}
	.external-link{
		padding-right: 10px;
	}
}


/*
 * Headlines
 * ----------------------
 */
/* fix to accomodate for breaking change in margins in bootstrap */
h1, h2, h3, h4, h5, h6{
	margin: 0;
}

h1{
	margin-bottom: 10px;
	font-size: 25px;
	line-height: 30px;
	span{
		font-size: 14px;
		vertical-align: middle;
	}
}
h3{
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	color: $color-h3;
	margin: 0px;
}

h4{
	color: $color-h4;
}

h5{
	font-size: 18px;

}

h6{
	font-size: 12px;
	font-weight: bold;
	color: $color-h6;
	text-transform: none;
}

ul, ol {
  list-style: none;
  margin: 0;
}

.page-title-container{
	width: 99.8%;
	@include gc-border-shadow;
	margin-bottom:-15px;
	h1{
		font-size: 25px;
		padding: 29px;

		.text-icon{
			margin-top: -5px;
		}
	}
}

.clearfix{
	@include clearfix;
	clear: both;
	width: 100%;
}
/*
 * Links
 * ----------------------
 */

a{
	color: $color-link;
	text-decoration: none;

	&:hover{
		color: darken($color-link, 10%);
		text-decoration: none;
	}


	&.small, &.small-link{
		font-size: 10px;
	}

	&.external-link{
		background: image_url('gc/icon-external.png') right center no-repeat;
		padding-right: 25px; 
	}
} 


/*
 * Navigation
 * --------------------------------------------------
 */

.active .dropdown-menu, .dropdown-menu{
	@include border-radius(0px);
	.active a, a{
		font-size: 11px;
		line-height: 14px;
		color: $gray !important;
		position: relative;

		&:hover, &.active{
			color: #000 !important;
			background: $light-gray !important;
			font-weight: bold;
		}	
	}
	li{
		width: 100%;
	}
}
.dropdown .caret{
	display: none;
}
.btn-group{
	.dropdown-menu{
		padding-top: 3px;
		@include background-image(linear-gradient(white, #f0f1f3)); 
		@include border-radius(3px);
		border: 1px solid #ccc;
		@include box-shadow(none);
		padding-bottom: 6px;
		min-width: 135px;
	}
}

.dropdown-button{
	font-size: 12px;
}

 /* 
 * Breadcrumb
 * --------------------------------
 */
 .breadcrumb{
 	margin: 0;
 	a{
 		color: $medium-gray;
 		&:hover{
 			color: $medium-gray;
 		}
 	}
 	.active a{
 		color: $dim-gray;
 		&:hover{
 			color: $dim-gray;
 		}
 	}
 }

.clearfix{
	@include clearfix;
}


/*
 * Error Messages
 * ------------------------------
 */ 
 .error-message{
 	background: $color-error-bg;
 	color: $color-error-font;

 	.error-message-content{
 		padding: 20px 10px;
 	}
 }
 .alert{
 	margin: 10px 0;
 	padding: 5px 10px;
 	@include border-radius(0px);
 }
 .alert-block{
 	border: none;
 	text-shadow: none;
 	margin-bottom: 0px;
 	margin-top: 0;
 	line-height: 30px;
 }

.alert-success{
	background: $color-success-bg;
	color: $color-success-font;
}
.alert-danger, .alert-error{
	background: $color-error-bg;
	color: $color-error-font;
}


/*
 * Tabs
 * ------------------------------
 */ 


.body-tabbable{
	$default-tab-width: 250px;
	
	&.single-tabbable{
		h1{
			color: $color-h1-single-tabbable;
			font-size: 25px;
			margin-bottom: 20px;
		}
		.tab-content .tab-pane.active{
			background: transparent;
		}
		.page-tools{
			background: #fff;
			padding: 20px;
		}
		.table-wrapper{
			margin-top: 5px;
		}
	}
	.nav-no-link{
		@extend .nav;
	}
	.nav-tabs-no-link{
		@extend .nav-tabs;
	}
	.nav-tabs, .nav-tabs-no-link{
		margin-bottom: 1px;
		border-bottom: none;
		position: relative;
		z-index: 2;
		>li{
			width: $default-tab-width;
			margin-right: 2px;
			margin-bottom: -1px;
			&.active a{
				padding-bottom: 18px;
			}
			a{
				border: none;
				color: $color-tab-font;
				font-size: 20px;
				text-align: center;
				text-transform: uppercase;
				text-shadow: 1px 1px 1px #d8d8d8;
				font-weight: bold;
				display: block;
				width: 100% !important;
				background-repeat: repeat-x!important;
				padding: 15px 0;
				height: 21px !important;

				&:hover{
					color: $color-tab-font-hover;
					width: 100% !important;
					background-repeat: repeat-x!important;
				}
				&:active{
					color: $color-tab-font-hover;
					width: 100% !important;
					background-repeat: repeat-x!important;


				}

			}
			&.half-tab{
				width: $default-tab-width/2;
				a {

					.icon{
						text-align: center;
						margin: 0 auto;
					}
				}
			}
			&.active {
				margin-bottom: -3px;
				a, a:hover{
					border: none;
					color: $color-tab-font-active;
					text-shadow: 1px 1px 1px #a4da62;
					padding-bottom: 18px;
					margin-bottom: -3px;
				}
			}
		}
	}
	
	.tab-content{
		clear: both;
		padding: 10px 0;
		background: #ccc image_url('tab-body.png') repeat-x left top;
		width: 100%;
		background-repeat: repeat-x;
		background-color: #ccc;
		 @include single-box-shadow(rgba(108, 113, 117, .4), 0, 0, 1px, 1px, inset);
		.tab-pane.active{
			background: white;
			margin: 0 10px;
		}
	}

}


/* ------------ Styleing the Jquery UI Tabs ------------- */
.ui-tabs, .default-tabs{
	border: none;
	
	margin: 20px 0;
	.ui-tabs-nav{
		background: none;
		border: none;
		border-bottom: 1px solid $medium-gray;
		padding-left: 0px;
		@include clearfix;

		li{
			background: $light-gray;
			cursor: pointer;
			float: left;
			a{
				color: $color-tab-font;
				display: block;
				padding: 10px;
				border-left: 1px solid $medium-gray;
				border-right: 1px solid $medium-gray;
				border-top: 1px solid $medium-gray;
			}

			&.ui-state-active{
				background: white;
				cursor: default;
				a{
					color: $color-tab-font-active;
				}
			}
			
		}
	}
	.ui-tabs-panel{
		@include border-radius(0px);
		padding: 10px;

	}
}

/* 
 * Footer 
 * --------------------------------
 */

 #footer{


 	.footer-wrapper{
 		margin: 0 auto;
 		padding-bottom: 30px;
 		border-bottom: 5px solid $gray;
 		text-align: center;
 		float: none;
 	}
 	.copyright{ 
 		width: 100%;
 	}

 	a{
 		font-size: 10px;
 		text-align: center;
 	}
 }
#bottom-footer{
	position: absolute;
	border: 1px solid #f0f;
	bottom: 0px;

} 
/* See Modal.scss for Modal Specific Tabls*/

@import 'layout/forms';



/* ------------ Styleing the image popover ------------- */
	.popover{
		padding: 0;
		@include border-radius(0px);
		.popover-content{
			padding: 0;
		}
		.popover-title{
			display: none;
		}
		.arrow{
			display: none;
		}
		.popover-inner{
			@include border-radius(0px);
			padding: 0px;
			width: 500px;
		}
	}

/* fixing tinymce readonly fields being only 100px */
.search-bar{
	input[type="text"]{
		float: left;
		margin-right: 5px;
	}
	label{
		float: left;
	}
}
.search-box{
	@include clearfix;
	input, select{
		margin-bottom: 0;
		margin-top: 0;
	}
	.search-text, input[type="text"], .btn, .search-btn, .reset-btn{
		float: left;
	}
	
	.publisher-search{
		float: left;
		width: 300px;
		label{
			float: left;
			margin-right: 10px;
			margin-top: 5px;
		}
		.select-wrapper{
			float: left;
		}
		input{
			display: inline;
		}
	}
	&.multi{
		input[type="text"]{
			width: 210px
		}
	}
	.large-search-text{
		width: 445px;
		margin-left: 0px;
		margin-right: 8px;
		float: left;
	}

	.reset-button{
		margin-left: 10px;
		font-size: 10px;
	}
}
.search-message-area{
	#message-area{
		margin: 0px;
	}
}

.page-content{
	background: #fff;
}
.button-list{
	@include button-list;
}

.gc-lookup-delete-btn{
	cursor: pointer;
	margin-left: 5px;
	display: none;
	margin-top: -5px;
	&:hover{
		opacity: .6;
	}
}



/* 
* Body Layout 
* --------------------------------
*/

.main-content-wrapper{
	margin: 20px;
}
.pull-center{
  	margin: 0 auto;
}

.main-wrapper{
	margin: -33px auto 0 auto;
	float: none;
	background: transparent image_url('bg-body.png') repeat-y top left;
	padding: 20px 13px 20px 13px;

}

.main-container{
	margin: 20px 0 0 0;
	@include clearfix;
}

.main-container-bottom
{
	float: none;
	margin: 0;
	height: 24px;
	width: 1020px;
	margin: 0 auto;
	//background: image_url('bg-body-bottom.png') no-repeat left top;
	position: relative;
}

.page-tools{
	@include clearfix;
}

/* 
 *  Bootstrap - Collapsable Override
 * --------------------------------
 */
.collapse-body, .accordion-body{
	height: auto;
}
.collapsed{
	.accordion-body, .collapse-body{
		overflow: hidden;
	}
}

.collapse-group{
	border: none;
	padding-bottom: 5px;
	border-top: 1px dotted #ccc;
	padding-top: 14px;
	padding-bottom: 14px;
	@include border-radius(0);
	.accordion-inner{
		margin-left: 15px;
		ul{
			margin-left: 0px;
		}

	}
	&.collapsed {
		.collapse{
			overflow: hidden;
		}

	}
	.collapse-body{
		font-size: 10px;

	}
	.collapse-heading{


		.collapse-toggle{ 
			padding: 5px 0;
			.text-icon{
				margin-right: 5px;
			}
		}
		a{
			font-size: 12px;
			font-weight: bold;
			color: $color-font-alt;
		}
	}
	.collapse{
		overflow: visible;
	}
	label{
		font-size: 11px;
		margin-bottom: 0px;
	}
	#collapseRun input[type="text"]{
		width: 53px;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}

	.accordion-inner{
		border: none;
		padding-left: 0;
		padding-top: 3px;
		font-size: 11px;
		margin-top: 5px;
		.modal-filter{
			left: 200px;
			top: 0px;
			margin: 0;
			position: absolute;
		}
		select, input[type="text"]{
			width: 134px;
		}

		
		ul{
			list-style: none;
			font-size: 12px;
		}
		.slider-content{
			height: 30px;
			text-align: center;
		}
		a{
			color: #000;
		}
	}
}


/********** Show More **********/
.show-hide{
	
	@include clearfix;
	.show-hide-inner{
		padding-top: 5px;
		height: auto;
			}
	.hidden-toggle{
		padding-top: 5px;
	}
	&.shown{	
		.show-hide-body{
			overflow: hidden;
		}
		.show-hide-inner{
			overflow-y:scroll;
			height: 239px;
		}
		.shown-toggle{
			display: none;
		}
		.hidden-toggle{
			display: block;
		}
	}
	&.hidden{
		.show-hide-body{
			overflow: hidden;
		}
		.hidden-toggle{
			display: none;
		}
		.shown-toggle{
			display: block;
		}
		.show-hide-inner{
			height: 100px;
			overflow: hidden;
		}
	}
	ul.show-hide-heading>li{
		margin-left: 20px;

		ul{
			@include horizontal-list;
		}
	}
	.hidden-toggle{
		display: none;
	}
	.show-hide-heading a{
		font-size: 10px;
		color: $color-link;
		font-weight: normal;
	}
}


/* 
 * Data Carousel - Extension of Bootstap Carousel
 * --------------------------------
 */
.data-carousel{
	position: relative;
	margin-bottom: 16px;
	.carousel-wrapper{
		background: #fff;
		height: 57px;
		width: 162px;
		margin-top: 1px;
		margin-left: 1px;
		&:hover{
			@include background-image(linear-gradient(#fff, #d6d6d6)); 
			.carousel-action-wrapper{
				@include background-image(linear-gradient(top, darken(#fafafa, 10%), darken(#e5e5e5, 10%)));
			}
		}

	}
	
	
	.carousel-nav{
		ul{
			@include horizontal-list;
			margin-top: -1px;
			li a{
				color: $color-item-inactive;
				font-size: 10px;
				display: block;
				&.active{
					color: $color-item-active;
				}
			}
		}
	}
	.carousel-inner{
		padding: 10px 10px 0 10px;
		width: auto;
		overflow: visible;
		font-size: 11px;
		.text-icon{
			float: left;
			margin-top: 4px;
		}
		p{
			float: right;
			font-size: 11px;
			width: 90%;
			line-height: 14px;
		}
		span{
			color: $color-font-em;
			font-size: 16px;
			font-weight: bold;
		}
	}
	.carousel-toolbar{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}

	.carousel-action{
		float: right;
		cursor: pointer;
		border-top: 1px solid #fff;
		border-left: 1px solid #fff;
		.carousel-action-wrapper{
			text-indent: -9999px;
			border-top: 1px solid $color-border-light;
			border-left: 1px solid $color-border-light;
			@include background-image(linear-gradient(top, #fafafa, #e5e5e5));
			width: 17px;
			height: 13px;
			&:hover{
				@include background-image(linear-gradient(top, darken(#fafafa, 10%), darken(#e5e5e5, 10%)));
			
			}
		}
		
	}

	.carousel-pause{
		margin: 3px auto;
	}
	.carousel-play{
		margin: 3px auto;
	}
	
	.carousel-nav{
		float: right;
		margin-right: 10px;
		height: 13px;
		}
}



/* 
 * Messages
 * --------------------------------
 */
.message {
	line-height: 18px;
	font-size: 11px;
}

.message-error{
	color: $color-error-font;
}



/* 
* Slider
* ---------------------------------------------
*/
.ui-corner-all{
	@include border-radius(2px);
}
.ui-slider{
	margin-left: 10px;
	margin-top: 10px;
	.ui-slider-handle{
		width: 11px;
		height: 11px;
	}
	&.ui-slider-horizontal{
		height: 1px;
		border: none;
		background: #ccc;
	}
	.ui-slider-range{
		background:  $dim-gray;
		border: none;
	}	
	.ui-slider-handle.ui-state-default{
		background: $color-item-active;
		margin-top: -1px;
		cursor: pointer;
		border: none;

		&.ui-state-hover, &.ui-state-active{
			background: $color-item-active-hover;
		}
	}
}






.ui-icon{
	margin: 0 10px;
}
/* Styling The Icons */
.ui-state-disabled{
	
}
/* 
* chzn Plugin
* ---------------------------------------------
*/
.chzn-container .chzn-choices{
	width: 100% !important;

	input[type="text"]{
		line-height: 15px;
	}
}
.chzn-results{
	border: 1px solid $color-border;
	border-top: none;
}

.chzn-container .chzn-drop {

	li{
		min-width: 100%;
	}
}


.chzn-container-multi .chzn-choices .search-choice{
	@include border-radius(0px);
	background: $light-gray;
	border: none;
	max-width: 75%;
	overflow: hidden; 
	display: block;

	span{
		overflow: hidden;
		display: block;
	}

	/* Button overridden in icons*/
}


.tool-row{
 	width: 100%;
 	margin-top: 10px;
 	@include clearfix;
 }
 
.tool-list{
	padding: 0;
	margin: 0;
	@include clearfix;
	>li{
		list-style-image: none;
  		list-style-type: none;
  		margin-left: 0;
  		white-space: nowrap;
  		display: inline;
  		float: left;
  		padding-left: 4px;
  		padding-right: 4px;
		margin-top: 3px;

	}
}
.tools-hidden li{
	margin-top: 2px;
}


 .loading.ui-state-default.ui-state-active
 {
 	display: none;
 }








.ui-widget{
	@include border-radius(0px);
}



/*
 * Tools
 * --------------------------------
 */
.tools{
 	padding: 10px;
 	font-size: 12px;
	

	label{
 		font-size: 12px;
 		margin-top: 2px;
 	}
 	select{
		font-size: 11px;
		height: 20px;
		color: #000;
		padding: 0px;
		margin: 0px;
	}

	ul li.text-sort{
		padding-left: 4px;
		padding-right: 4px;
		margin-top: 2px;
		&.selected:hover{
			border: none;
			padding-left: 4px;
			padding-right: 5px;
			margin-top: 2px;
		}
		&:hover{
			border: 1px solid $color-table-border;
			padding-left: 3px;
			padding-right: 3px;
			margin-top: 1px;
		}
	}

 	.tools-row{
 		@include clearfix;
 		clear: both;
 	}
 	.tools-hidden ul li{
 		margin-top: 2px;

 	}
 	
	.tools-contract li{
		margin-top: 2px;

		.badges-expiring{
			margin-top: -1px;
		}
	}
	a{
		color: $dark-gray;
	}
	.tools-container{
		margin-top: 6px;
	}
	
 	.small-icon-button-list .comments a span{
		margin: 4px 0;
	}
	.small-icon-button-list .archive a span{
		margin: 2px 0;
	}
	
 	.tools-sort{
 		float: right;
 	}
 	.tools-hidden{
 		float: left;
 		margin-left: 40px;
 		a{
 			color: #93999c;

 			&:hover{
 				color: $dim-gray;
 			}
 		}
 	}	
 	ul li.selected{
		background: $color-item-selected-bg;
		a, a:hover{
			color: white;
		}
	}
 	>div{
 		label{
 			float: left;
 			margin-right: 10px;
 		}
 		@include clearfix;
 	}
 	ul{
 		@include horizontal-list;
 		float: left;
 		font-size: 11px;
 		
 		li:last-child{
 			padding-right: 5px;
 		}
 	}

 	.tools-view ul li, .tools-hidden ul li{
 		margin-left: 5px;

 		a{
 			color: #93999c;
 			&:hover{
 				color: $dim-gray;
 			}
 		}
 		&:last-child{
 			margin-top: 2px;
 		}
 		&.favorites{
 			a{
 				padding-left: 4px;
 			}
 		}
 		&.archive{
 			margin-top: 3px;
 		}
 		&.comments a{
 			margin-top: 7px;
 		}
 		&.favorites.selected, &.comments.selected, &.archived.selected{
			background: transparent;
			border: 1px solid $dim-gray;
		}
 	}
 	
 }

/* ----------- Calendar Key ------------ */ 
.key{
	width: 10px;
	height: 10px;
	display: inline-block;
}
.key-contract-start-end{
	background: $color-key-start-end;
}
.key-contract-block-date{
	background: $color-key-block;
}
.key-contract-my-offer{
	background: $color-key-mine;
}
.key-contract-my-offer-active{
	background: $color-key-mine-active;
}
.key-contract-other-publishers{
	background: $color-key-other-publishers;

}

.keys{
	.keys-title{
		float: left;

	}
	ul{
		@include horizontal-list;
		li{
			margin-left: 15px;

			.key{
				margin-right: 5px;
				@include border-radius(2px);
			}
		}
	}
}


/* Add Color Categories */
@include addColorCategories();


/* this is for all grids*/
#jqgrid-result-timestamp{ font-style: italic; color:$dim-gray;  text-align:right;}
